" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

" dg already mapped to go-to-definition
map gr <Action>(FindUsages)

map <leader>ca <Action>(ShowIntentionActions)
map <leader>cf <Action>(ReformatCode)
map <leader>co <Action>(OptimizeImports)
map <leader>cg <Action>(Generate)
map <leader>rn <Action>(RenameElement)

"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

set ideajoin
" Plugin should be installed in IDEA
set which-key
set NERDTree
